[submodule "hadoop"]
	path = hadoop
	url = https://github.com/apache/hadoop.git
[submodule "zookeeper"]
	path = zookeeper
	url = https://github.com/apache/zookeeper.git
[submodule "accumulo"]
	path = accumulo
	url = https://github.com/apache/accumulo.git
